* {
    color: #eee;
    font-size: 30px;
}

.bg {
    background-image: url('mikhail-sharov-mb-ks-2-2k.jpg');
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loadbar {
    width: 100%;
    background-color: #001536;
    height: 20px;
    margin-left: 2px;
    margin-right: 3px;
    overflow: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    display: block;
}

.progressBar {
    width: 10%;
    background-color: #002663;
    height: 20px;
    position: absolute;
    left: 10%;
}